.navbar{
    top:0;
    position: fixed;
    display:flex;
    padding: 20px;
    height: 30px;
    width:100%;
    justify-content: space-between;
    background-color: #111;
}
.logo{
position: fixed;
left:20px;
width:80px;
}
.avatar{
position: fixed;
right: 20px;
width:30px;
}