.banner{
height:448px;
background-size: cover;
/* background-image: url('https://wallpaperaccess.com/full/2703652.png'); */
color:white;
}
.content{
    padding-top: 110px;
    height:190px;
    padding-left: 15px;
}
.title{
    text-shadow:2px 2px 6px #1111116c ;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;

}
.button{
    color: white;
    outline:none;
    border:none;
    width: 80px;
    font-weight: 700;
    border-radius:5px;
    padding-left: 2 rem;
    padding-right: 2 rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 1rem;
    transition-duration: 400ms;

}
.button:hover{
    color: black;
    background-color: #e6e6e6;
}
.description{
    text-shadow:2px 2px 6px #1111116c ;
    width: 65rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    height: 80px;
    max-width: 480px; 
}
.fade_bottom{
    height:16.1rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}
.youtubeClose{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 9px;
    top: 65px;
    right: 16px;
}
.youtubeClose:hover{
    background-color: rgba(33, 0, 0, 0.865);
}